extends layout

block contentX

    div.box
        //- content
        span(style="font-size:20px;") #{content.title}
        span(style="float:right;")
            a.tblink(href="javascript:;", onclick="info('" + content.id + "')") #{content.nickname}
        hr
        span(style="float:right; font-size:13px;") #{content.writedate}
        br
        span(style="float:right; font-size:13px;") 조회 #{content.hit}  댓글 #{content.comment.length}
        - if ( listurl == "music" )
            br
            span#gradeSpan(style="float:right; font-size:13px;") 평점 #{content.grade} by #{content.gradeby.length}명
            - if ( content.grade >= 3 && content.gradeby.length >= 1 && user.id == content.id && writer.boardRequest == 0 )
                //- content.grade / content.gradeby.length == average
                //- if writer.boardRequest == 0, can request to admin to make own board
                //- after requested, writer.boardRequest would be 1
                //- when admin accept the request, writer.boardRequest would be 2 and having own board
                br
                button#boardRequest(style='float:right;', onclick="boardRequest('"+content.id+"','"+content._id+"')") 게시판 생성 요청
            - else if ( user.id == 'admin' && writer.boardRequest == 1 )
                br
                button#acceptBoardRequest(style='float:right;', onclick="acceptBoardRequest('"+writer.id+"','"+content._id+"')") 게시판 생성 수락
        br
        br

        - if ( content.image != '' )
            div(style="text-align:center;")
                img(src= content.image, width= imageWidth)
            br
            br
        - if ( content.audio != '' )
            div(style="text-align:center;")
                audio(controls)
                    source(src= content.audio)
            br
            br

        div(style="padding:20px;")
            pre.contentView #{content.content}
        br
        br
        br
        div(style="text-align:center;")
            - if ( listurl == "music" && user.id )
                select#grade
                    option(value="5") ★★★★★
                    option(value="4") ★★★★
                    option(value="3") ★★★
                    option(value="2") ★★
                    option(value="1") ★
                button(onclick="recommend('" + listurl + "','" + content._id + "','" + user.id + "',1)", id='recommendbtn') 평가
            - else if ( user.id )
                button(onclick="recommend('" + listurl + "','" + content._id + "','" + user.id + "',1)", id='recommendbtn') 추천 #{content.recommend}
        br
        hr

        //- comments and buttons
        table.tb2
            br
            each val in content.comment
                tr(style="height:110px; vertical-align:top;")
                    td(style="text-align:center; vertical-align:middle; width:110px; border-right:1px solid rgb(0,91,159);")
                        img(src="images/profileimages/" + val.id, width="70", height="70")
                    td(style="vertical-align:top;")
                        div(style="font-size:12px; padding:2px; margin-left:5px; border-bottom:1px dotted rgb(0,91,159);")
                            - if ( val.id == 'admin' )
                                b
                                    a.tblink(href="javascript:;", onclick="info('" + val.id + "')") #{val.nickname}
                            - else
                                a.tblink(href="javascript:;", onclick="info('" + val.id + "')") #{val.nickname}
                            span(style="font-size:12px; float:right;")
                                - if ( user.id == val.id || user.id == 'admin' || boardtype == user.id )
                                    form(action="./delete/comment", id="removeCmt" + val.num, method="POST", style="display:none;")
                                        input(type="hidden", name="contentnum", value= content.num)
                                        input(type="hidden", name="num", value= val.num)
                                        input(type="hidden", name="id", value= val.id)
                                        input(type="hidden", name="boardtype", value= boardtype)
                                    a.link(href="javascript:;", onclick="document.getElementById('removeCmt" + val.num + "').submit()") 삭제  
                                span #{val.writedate}
                        div(style="padding-left:10px;")
                            - if ( content.id == val.id )
                                pre.contentView(style="color:blue;") #{val.comment}
                            - else
                                pre.contentView #{val.comment}
                    td(style="text-align:right;")

        br
        - if ( user.id && !user.stop )
            br
            form(method="POST", action="./comment")
                input(type="hidden", name="board", value= listurl)
                input(type="hidden", name="_id", value= content._id)
                table(style="width:700px; margin:auto;")
                    tr
                        td
                            textarea(cols="80", rows="5", name="comment")
                        td
                            input(type="submit", name="cmt", value="댓글달기", style="width:100px; height:80px;")
            br
            hr
        - else
            hr
        
        - if ( user.id == content.id || user.id == 'admin' || boardtype == user.id )
            form(action="./delete/" + listurl, method="POST", onsubmit="return confirmRemove();")
                input(type="submit", value="삭제", style="float:right;")
                input(type="hidden", value= content.id, name="id")
                input(type="hidden", value= content.num, name="num")
                input(type="hidden", value= boardtype, name="boardtype")
        button(style="float:right;" onclick="location.href='./" + listurl + "?type=" + boardtype + "'") 목록
    br
    br

    div.box
        //- show board list
        span #{type}
        hr
        br
        br
        table.tb
            tr(style="height:25px; font-weight:bold;")
                td(style="70px;") 번호
                td(style="160px;") 제목
                td(style="65px;") 작성자
                td(style="100px;") 날짜
                td(style="55px;") 조회수
                td(style="40px;") 추천

            each val in all
                tr(class="trhover")
                    td #{val.num}
                    td(style="text-align:left; padding-left:50px;")
                        - if ( val.boardRequest )
                            a.link(style="font-weight:bold;", href="./content?type="+listurl+"&num=" + val.num) #{val.title}
                        - else
                            a.link(href="./content?type="+boardtype+"&num=" + val.num) #{val.title}
                        - if ( val.comment.length > 0 )
                            span   
                            span(style="font-size:12px; color:grey;") [#{val.comment.length}]
                    td
                        a.link(href="javascript:;", onclick="info('" + val.id + "')") #{val.nickname}
                    td #{val.writedate}
                    td #{val.hit}
                    td #{val.recommend}