doctype html
head
    title= title
    meta(name='viewport', content='width=devide-width', initial-scale=1)
    link(rel='stylesheet', href='/stylesheets/info.css')
body
    div#content
        br
        span(style="font-size:20px;")
            b= user.id
            span 님의 정보 
            span(style="float:right;")
                img(src="images/profileimages/" + user.id, width="70", height="70")
            hr
            - if ( user.stop )
                b(style="color:red;")  정지회원
            - else if ( user.id == 'admin' )
                b  사이트 어드민
                br
            br

            p 닉네임: #{user.nickname}
            p 이메일: #{user.email}
            p 좋아하는 장르: #{user.genre}
            p 자기소개: #{user.introduction}
            p 가입일: #{user.joindate}
            //- br
            p 구독 중인 게시판:
            each val in user.subscribes
                span(style='font-size:14px;') ㆍ#{val} 
            br
            br
            
            br
            br
            button(onclick="window.open('about:blank', '_self').close()") 닫기
            br
            br