extends layout

block contentX

    - if ( user.id )
        div.box
            span 구독한 게시판
            hr
            br
            
            ul
                each val in user.subscribes
                    li
                        a.link(style="font-size:16px;", href="./subboard?type="+val) #{val}
            br
            br

    div.box
        span 서브게시판 목록
        hr
        br

        ul
            - if ( user.id )
                each val in sub
                    li
                        a.link(style="font-size:16px;", href="javascript:;", onclick="subscribeBoard('"+user.id+"','"+val.id+"')") #{val.id}
                        span(style="font-size:12px; color:grey;")  [#{val.subscribes.length-1}]
            - else
                each val in sub
                    li #{val.id}
                        span(style="font-size:12px; color:grey;")  [#{val.subscribes.length-1}]
        br
        br